/*Main Body*/
.Body{
	padding: 1em 4em 0 4em;
}
.Project{
	display: grid;
	background-color: #004367;
	margin-top: 1em;
	padding-top: 0.25em;
	grid-template-rows: auto auto;
	grid-template-columns: 10em auto;
	grid-template-areas: 'title title' 'thumbnail description';
}
.project > div{
	background-color: #DDDDDD;
}
.name{
	grid-area: title;
}
.thumbnail{
	grid-area: thumbnail;
}
.thumbnail > img{
	width:100%;
	height: auto;
	border-radius: 5%;
}
.thumbnail > img:hover{
	.project{
	}
}
.description{
	grid-area: description;
	padding-left: 0.3em;
}
.links{
	font-size: 1.2em;
}
.links > a{
	padding-left: 1.0em;
	color: #000000;
}
.links > a:hover{
	color: #333333;
}
.links > a:active{
	color: #666666;
}