/*Main Body*/
.Body{
	padding: 1em 4em 0 4em;
}
.Project{
	display: grid;
	background-color: #004367;
	margin-top: 1em;
	padding-top: 0.25em;
	grid-template-rows: auto auto;
	grid-template-columns: 10em auto;
	grid-template-areas: 'title title' 'thumbnail description';
}
.project > div{
	background-color: #DDDDDD;
}
.Name > a{
	color: #000000;
	padding-left: 0.5em;
	font-size: 1.5em;
}
.name{
	grid-area: title;
}
.thumbnail{
	grid-area: thumbnail;
}
.description{
	grid-area: description;
}