.body{
	display: grid;
	grid-template-areas: 'Photo About';
	grid-template-columns: 12em auto;
}
.Photo{
	grid-area: Photo;
	text-align:center;
	width: 100%;
	height: 12em;
	background: #666666;
	border-radius: 50%;
}
.photo > img{
	padding-top:50%;
}
.About{
	grid-area: About;
	padding-left:0.5em;
}