*{
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
}

h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 2.5em;
}

h2{
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em;
}

h3{
	font-family: ariel, sans-serif;
	fontsize: 1.2em;
}

div{
	
}
.header{
	padding: 1.5em 0em 0em 4em;
	background-color: #004367;
	color: #FFFFFF;
	display: grid;
	grid-template-columns: 18em auto;
}

.title{
	text-align: right;
}
.navigation{
	text-align: right;
	padding-top:3em;
	padding-right: 4em;
}

body{
	background-color: #DDDDDD;
}

a{
	color: #FFFFFF;
}

a:hover{
	color: #AAAAAA;
}

a:active{
	color: #777777;
}

@media screen and (max-width: 450px){
	.header{
		padding: 0;
		grid-template-columns: auto;
	}
	.title,.navigation{
		text-align: center;
		padding: 0;
		padding-bottom: 0.5em;
	}
}